<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav">
            <li *ngIf="!isAuthenticated" class="nav navbar-right">
                <a routerLinkActive="active" routerLink="/login">Login</a>
            </li>
            <li *ngIf="!isAuthenticated" class="nav navbar-right">
                <a routerLinkActive="active" routerLink="/register">Registration</a>
            </li>
            <li *ngIf="isAuthenticated" class="nav navbar-right active navbar-fixed-bottom">
                <a>Hi, {{firstName}} {{lastName}}</a>
            </li>
            <li *ngIf="isAuthenticated" class="nav navbar-right" (click)="logout()">
                 <a routerLinkActive="active" routerLink="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>